<%layout('partials/boilerplate')-%>
<section class="d-flex align-items-center" style="padding-top: 200px;">
    <div class="container position-relative text-center text-lg-start" data-aos="zoom-in" data-aos-delay="100">
        <div class="row">
            <div class="col-lg-8">
                <%if(product.title){%><h1 class="fw-bold"><span><%=product.title%></span></h1><%}%>
                <%if(product.description){%><p><%=product.description%></p><%}%>
            </div>
            <div class="col-lg-4 d-flex align-items-center justify-content-center position-relative overflow-hidden" data-aos="zoom-in"
                data-aos-delay="200">
                <%if(product.image){%><img src="<%=product.image%>" class="img-fluid float-end"
                    style="min-width: 400px"><%}%>
            </div>
            <%if(currentUser) { %>
                <div class="d-flex">
                    <form action="/product/<%=product._id%>?_method=DELETE" method="POST" class="float-end"><button
                            href="/product/post" class="btn btn-danger scrollto d-none d-lg-flex">Sterge
                            produsul</button>
                    </form>
                    <a href="/product/<%=product._id%>/update" class="btn btn-success mx-3">Editeaza
                        produsul</a>
                </div>

                <%}%>
            <div class=" social-links mt-3" style="font-size: 3rem;">
                    <a href="https://www.facebook.com/groups/569175147961571" class="facebook link-dark" target="_blank"><i
                            class="bx bxl-facebook"></i></a>
                    <a href="https://www.instagram.com/codejam_test/" class="instagram link-dark" target="_blank"><i
                            class="bx bxl-instagram"></i></a>
            </div>
        </div>
    </div>
</section>
<%if(comments.length > 0){%>
                <section id="testimonials" class="testimonials section-bg my-5">
                    <div class="container" data-aos="fade-up">

                        <div class="section-title">
                            <h2>Comentarii</h2>
                        </div>


                        <div class="testimonials-slider swiper my-5 py-5 text-center" data-aos="fade-up"
                            data-aos-delay="100">
                            <div class="swiper-wrapper">
                                <%comments.forEach(comment => {%>
                                <div class="swiper-slide">
                                    <div class="testimonial-item">
                                        <h4>
                                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                            <%=comment.text%>
                                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                        </h4>
                                        <%if(currentUser && comment._id) { %>
                                        <form action="/product/<%=product._id%>/<%=comment._id%>?_method=DELETE"
                                            method="POST" class="float-start py-5"><button href="/product/post"
                                                class="book-a-table-btn scrollto d-none d-lg-flex">Sterge
                                                comentariul</button>
                                        </form>
                                        <%}%>
                    </div>
                </div><!-- End testimonial item -->
                <%});%>
                                    </div>
                                    <div class="swiper-pagination"></div>
                                </div>

                            </div>
                </section><!-- End Testimonials Section -->
                <%}%>

                <section id="book-a-table" class="book-a-table py-5">
                    <div class="container" data-aos="fade-up">
                        <form action="/product/<%=product._id%>/postComment" class="container my-5 w-xl-50
                php-email-form
                needs-validation" method="POST" novalidate>
                <div class="mb-3">
                    <textarea class="form-control" rows="3" name="comment" placeholder="Adaugati un comentariu"
                        required></textarea>
                    <div class="invalid-feedback">
                        Comentariul trebuie sa contina minim 5 caractere.
                    </div>
                </div>
                <button type="submit" class="btn btn-dark float-end">Postati comentariu</button>
                </form>
            </div>
</section>